/** {
  margin: 0;
  padding; 0;
}*/
/*@import "../styles/normalize.css";*/
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/*.header__square-pic {
  height: 568px;
  width: 568px;
}*/
div {border: 1px solid red;}

.flex_position_header {display: flex; align-items: center;}

.logo {
  width: 183px;
  height: 32px;
  position: absolute;
}

.logo_place_header {
  top: 30px;
  left: 64px;
}

.header__title {
  position: absolute;
  width: 778px;
  left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__link::after {
  content: " \2192";
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns_position {
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph_position:not(:first-child) {
margin-top: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center
}

.section-title_position {
 margin-top: 100px;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

.section-subtitle_position {
 margin-top: 20px;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
}

.table_position {
margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin: 0;
}
.table__cell_position {
  margin-top: 60px;
}

.table__text,.table__footnote {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.table__text_positon {
  display: flex;
  flex-direction: column;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.table__heading_position {
  margin-bottom: 20px;
}

.table__footnote {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.table__footnote_position {
  margin-top: 20px;
}

.feynman {
  /*display: flex;
  justify-content: center;*/
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
  margin: 0;
  z-index: -2;
  padding-top: 100px;
  box-sizing: border-box;
}

.feynman__title {
  width: 648px; 
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;

}

.feynman__title_position {
  /*position: absolute;
  top: 100px;
  text-align: center;
  z-index: 2;*/
  margin: 0 auto;
  text-align: center;
  z-index: 3;

}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
}

.feynman__subtitle_position {
  /*position: absolute;
  top: 70px;
  text-align: center;
  margin-top: 70px;
  z-index: 2;*/
  margin-top: 70px;
  text-align: center;
  z-index: 5;
}
.feynman__link {
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman__link_position {
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link_position::after {
  content: " \2192";
  color: ##2f80ed;
}

.feynman__image {
  width: 867px;
  height: 637px;
}

.feynman__image_position {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* и элемента с модификатором вида ключ-значение */
/*.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}*/
